@import 'colors';
@import 'units';
.app-header-container {
  .mat-toolbar {
    background-color: $greenRich;
    color: $graysBright;

    .header {
      display: flex;
      justify-content: space-between;
      flex: 0 0 auto;
    }
    .spacer {
      flex: 1;
    }

    .mat-icon {
      margin-left: $app-std-space;
    }
  }
}
