.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .sidenav-container,
  .sidenav-content,
  .main-content {
    /*
      The `flex: 1 1 auto;`
      property is a shorthand property for
      flex-grow, flex-shrink, and flex-basis
    */
    flex: 1 1 auto;
  }
}
