<div class="dashboard-container">
  <app-dashboard-header
    [leftSidenav]="leftSidenav"
    [rightSidenav]="rightSidenav"
  ></app-dashboard-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened="false" class="app-side-nav">
      <app-dashboard-left-side-nav></app-dashboard-left-side-nav>
    </mat-sidenav>

    <mat-sidenav
      #rightSidenav
      position="end"
      mode="side"
      opened="false"
      class="app-side-nav"
    >
      <app-dashboard-right-side-nav></app-dashboard-right-side-nav>
    </mat-sidenav>
    <app-dashboard-sidenav-content></app-dashboard-sidenav-content>
  </mat-sidenav-container>

  <app-dashboard-footer></app-dashboard-footer>
</div>
