@import 'units';
@import 'colors';

.app-login-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  formly-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-wrapper {
    text-align: right;
  }
}

.app-teaser-box-std {
  height: $app-teaser-box-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    $greenBold 0%,
    $greenSoft 30%,
    $greenSublime 60%,
    $greenIntense 100%
  );
  font-size: x-large;
  color: white;
}

.app-border-tick-red {
  border: 1px solid red;
}

.app-margin-bottom-std {
  margin-bottom: $app-double-space;
}
