$greenDark: #000B06;
$greenDeep: #002011;
$greenRich: #00351C;
$greenBold: #014A27;
$greenMuted: #016A52;
$greenSubtle: #01743D;
$greenSoft: #018043;
$greenSublime: #019E53;
$greenIntense: #01B35E;
$greenLuminous: #02C869;
$greenSaturated: #02DD74;
$greenVivid: #02F27F;
$greenDense: #0DFD8A;
$greenCrisp: #22FD94;
$greenGlowing: #37FD9E;
$greenSharp: #4CFEA8;
$greenSheer: #58AB27;
$greenGlossy: #76FEBD;
$greenOpulent: #8BFEC7;
$greenSleek: #A0FED1;
$greenHarmonious: #B5FEDB;
$greenEthereal: #CAFFE5;
$greenHeavenly: #DFFFEC;
$greenBright: #F4FFFA;
$graysDark: #000000;
$graysDeep: #060606;
$graysRich: #111111;
$graysBold: #1D1D1D;
$graysMuted: #282828;
$graysSubtle: #323232;
$graysSoft: #3D3D3D;
$graysSublime: #484848;
$graysIntense: #535353;
$graysLuminous: #5E5E5E;
$graysSaturated: #696969;
$graysVivid: #747474;
$graysDense: #808080;
$graysCrisp: #8B8B8B;
$graysGlowing: #969696;
$graysSharp: #A1A1A1;
$graysSheer: #ACACAC;
$graysGlossy: #B7B7B7;
$graysOpulent: #C2C2C2;
$graysSleek: #CDCDCD;
$graysHarmonious: #D8D8D8;
$graysEthereal: #E3E3E3;
$graysHeavenly: #EEEEEE;
$graysBright: #F9F9F9;
