/**
 * CUSTOMIZATION: Global Units, Paddings, Borders ...
 * TODO: Replace Pixels with modern units
 */

$app-body-font-size: 16px;

$app-quarter-space: 2.5px;
$app-half-space: 5px;
$app-std-space: 10px;
$app-double-space: 20px;
$app-tripple-space: 30px;
$app-quadruple-space: 40px;
$app-fivefold-space: 50px;

$app-side-nav-std-width: 320px;
$app-teaser-box-height: 100px;
