.sidenav-content {
  padding: 0px 20px;
}

.left-sidenav-open-minus-margin {
  margin-left: -320px !important;
}

.left-sidenav-open-plus-margin {
  margin-left: 320px !important;
}
.right-sidenav-open-minus-margin {
  margin-right: -320px !important;
}

.right-sidenav-open-plus-margin {
  margin-right: 320px !important;
}
