$greenDark: #000B06;
$greenDeep: #002011;
$greenRich: #00351C;
$greenBold: #014A27;
$greenMuted: #016A52;
$greenSubtle: #01743D;
$greenSoft: #018043;
$greenSublime: #019E53;
$greenIntense: #01B35E;
$greenLuminous: #02C869;
$greenSaturated: #02DD74;
$greenVivid: #02F27F;
$greenDense: #0DFD8A;
$greenCrisp: #22FD94;
$greenGlowing: #37FD9E;
$greenSharp: #4CFEA8;
$greenSheer: #58AB27;
$greenGlossy: #76FEBD;
$greenOpulent: #8BFEC7;
$greenSleek: #A0FED1;
$greenHarmonious: #B5FEDB;
$greenEthereal: #CAFFE5;
$greenHeavenly: #DFFFEC;
$greenBright: #F4FFFA;
